# Git-related files
.github/
.gitignore

# Documentation files
*.md
!README.md

# Image files
images/**
!images/icon.png

# VS Code-related files
.vscode-test/**
.vscode/**

# Configuration files
.yarnrc
**/.eslintrc.json
**/tsconfig.json
**/.editorconfig.json
**/.prettierrc

# Miscellaneous files
*.txt
**/*.map
**/*.ts

# Source files
src/**

# Lock files
package-lock.json

# Release files
dist/**
release/**

# Build files
esbuild.mjs
eslint.config.js